<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.mapper.PCameraMapper">
  <resultMap id="BaseResultMap" type="com.monitor.entity.PCamera">
    <!--@mbg.generated-->
    <!--@Table p_camera-->
    <id column="camera_id" jdbcType="BIGINT" property="cameraId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="station" jdbcType="VARCHAR" property="station" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    camera_id, `name`, id, station, ip, port, create_time, update_time
  </sql>
</mapper>